apiVersion: v1
kind: Service
metadata:
  name: rag-service
spec:
  selector:
    app: rag-service
  ports:
    - name: http
      port: 8080
      targetPort: http
    - name: metrics
      port: 2113
      targetPort: metrics
